<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Signup form</title>
    <meta name="author" content="Balázs Baumgartner">
    <meta name="description" content="LogMeIn Test App">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/DatePicker.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="main"><%= markup %></div>
    <script type="text/javascript" src="/js/vendor.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
